<html>
    <head>

        <title>encryptr. | encryption</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="encryptr/decryptr">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">

        <script src="../js/clipboard.min.js"></script>

        <!-- Comment -->
    </head>
    <body>
        <div class="no-overflow">
            <div class="main-area">
                <center><p class="logo-text">
                    encryptr.<span style="color:#F1F1F1">|</span><a href="decryptr"><span style="color:#ADADAD;">decryptr.</a></span>
                </p></center>
                <div class="result-box">
                    <p id="encryptedtext"><%= encrypted %></p>
                    <div class="feedback" id="feedback">
                        <p>Copied</p>
                    </div>
                    <button id="btncpy" class="btn copy" data-clipboard-action="copy" data-clipboard-target="#encryptedtext">
                        <img src="../img/clippy.png" width="20px" alt="Copy to clipboard">
                    </button>
                </div>

                <script>
                    var clipboard = new ClipboardJS('.btn');
                    clipboard.on('success', function(e) {
                        console.log(document.getElementById('feedback'));
                        setTimeout(function(){
                            document.getElementById("feedback").style.visibility = 'hidden'; }, 3000);
                        document.getElementById("feedback").style.visibility = 'visible';
                        console.log(e);
                    });

                    clipboard.on('error', function(e) {
                        console.log(e);
                    });
                </script>

            </div>

            <!--jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
