<html>
    <head>

        <title>encryptr. | encryption</title>

        <!-- SEO and mobile format declarations -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="encryptr/decryptr">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/webicon.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../css/main.css" rel="stylesheet">

        <script src="../js/clipboard.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <!-- Comment -->
    </head>
    <body>
        <div class="no-overflow">
            <div class="main-area">
                <center><p class="logo-text">
                    encryptr.<span style="color:#F1F1F1">|</span><a href="decryptr"><span style="color:#ADADAD;">decryptr.</a></span>
                </p></center>
                <div class="result-box">
                    <div class="ml11">
                      <span class="text-wrapper">
                        <span class="line line1"></span>
                        <span class="letters" id="encryptedtext"><%= encrypted %></span>
                      </span>
                    </div>
                    <div class="feedback" id="feedback">
                        <p>Copied</p>
                    </div>
                    <button id="btncpy" class="btn copy" data-clipboard-action="copy" data-clipboard-target="#encryptedtext">
                        <img src="../img/clippy.png" width="20px" alt="Copy to clipboard">
                    </button>
                </div>

                <script>
                    var clipboard = new ClipboardJS('.btn');
                    clipboard.on('success', function(e) {
                        console.log(document.getElementById('feedback'));
                        setTimeout(function(){
                            document.getElementById("feedback").style.visibility = 'hidden'; }, 3000);
                        document.getElementById("feedback").style.visibility = 'visible';
                        console.log(e);
                    });

                    clipboard.on('error', function(e) {
                        console.log(e);
                    });
                </script>

                <script>
                    $('.ml11 .letters').each(function(){
                    $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
                    });

                    anime.timeline({loop: false})
                    .add({
                        targets: '.ml11 .line',
                        scaleY: [0,1],
                        opacity: [0.5,1],
                        easing: "easeOutExpo",
                        duration: 100
                    })
                    .add({
                        targets: '.ml11 .line',
                        translateX: [0,$(".ml11 .letters").width()],
                        easing: "easeOutExpo",
                        duration: 300,
                        delay: 100
                        }).add({
                        targets: '.ml11 .letter',
                        opacity: [0,1],
                        easing: "easeOutExpo",
                        duration: 300,
                        offset: '-=775',
                        delay: function(el, i) {
                          return 34 * (i+1)
                        }
                        }).add({
                        targets: '.ml11',
                        opacity: 1,
                        duration: 1000,
                        easing: "easeOutExpo",
                        delay: 1000
                    });
                </script>

            </div>

            <!--jQuery -->

            <script src="../js/script.js"></script>

            <!--Font Awesome -->
            <script src="https://use.fontawesome.com/8c86fcede2.js"></script>

            <!--JavaScript Bootstrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
